@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {
    .header{
        background-position: center;
    }

    .img-tile{
        min-height: 500px;
    }
    
    #menu{
        #menucontent{
            width: 400px;
        }
    }
}
@media only screen and (min-width:1024px) {
    .header{
        background-size: cover !important; 
        h1{
            max-width: 1000px;
            font-size: 5em !important;
            margin-bottom: .5em;
        }
    }
    .stats-container{
        display: flex;
        justify-content: center;
        .stat-block{
            margin: 2em;
        }
    }

    .action-block{
        display: flex;
        justify-content: space-between;
        p{
            margin-bottom: 0;
            text-align: left;
            max-width: 900px;
        }
    }

    .tile-block{
        display: flex;
        flex-wrap: wrap;
        .img-tile, .copy-tile{
            width: 50%;
            min-height: 400px;
            height: 50vh;
            display: flex;
            h2{
                text-align: left;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: auto;
                margin-left: auto;
                max-width: 650px;
            }
        }
        :nth-child(2){
            order: -1;
        }
        
    }

    .footer{
        display: flex;
        justify-content: space-around;
        text-align: left;
        .social-icon{
            margin-bottom: 10px;
        }
    }

    .copy-tile{
        display: table !important;
    }
}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    
}
