@font-face {
  font-family: 'proxima_novablack';
  src: url('../fonts/proxima-nova-black-webfont.woff2') format('woff2'),
       url('../fonts/proxima-nova-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'proxima_novabold';
  src: url('../fonts/proxima-nova-bold-webfont.woff2') format('woff2'),
       url('../fonts/proxima-nova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'proxima_novalight';
  src: url('../fonts/proxima-nova-light-webfont.woff2') format('woff2'),
       url('../fonts/proxima-nova-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'proxima_novaregular';
  src: url('../fonts/proxima-nova-regular-webfont.woff2') format('woff2'),
       url('../fonts/proxima-nova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}