nav {

  z-index: 1000;
  @include horizontal-padding;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 0em;
  min-height: 196px;

  .logo {
    width: 150px;
  }

  #menu-btn {

    position: relative;
    right: 2em;

    font-size: 1.3em;
    margin-top: 60px;
    margin-bottom: auto;
    text-decoration: none;
    color: $white;
    font-family: 'proxima_novabold';
    display: flex;
    max-height: 1em;

    svg {
      max-height: 1em;
      min-width: 27px;
      padding-left: 10px;
    }
  }
}

#menu {
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: $white;
  display: none;

  #menu-close-btn {

    display: flex;
    min-width: 15px;
    width: 90px;
    color: $white;
    position: absolute;
    right: 2em;
    top: 3em;
    font-family: proxima_novabold;
    font-size: 1.3em;
    cursor: pointer !important;

    svg {
      position: absolute;
      top: -3px;
      min-width: 15px;
      width: 18px;
      right: -5px;
    }
  }

  #menucontent {

    padding-top: 9em;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    height: 100%;
    background-color: $purple;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    position: absolute;
    right: -100%;
    margin-left: 300px;
  }

  a {
    text-decoration: none;
    color: $white;
  }

  #primary-links {
    a {
      display: block;
      font-family: proxima_novabold;
      font-size: 2.3em;
      margin-bottom: .5em;
    }
  }

  #sub-links {
    a {
      display: block;
      font-family: proxima_novalight;
      font-size: 1.8em;
      margin-bottom: 1em;
    }
  }


  #search {
    position: relative;

    svg {
      max-width: 30px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }

    input {
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: $white;
      border: solid 4px $white;
      padding: 10px;
      width: 100%;
      font-family: proxima_novalight;
      appearance: none;

      &::-webkit-input-placeholder {
        color: $white;
      }

      &::-moz-placeholder {
        color: $white;
      }

      &::-ms-placeholder {
        color: $white;
      }

      &::placeholder {
        color: $white;
      }

    }
  }
}

.header {
  #fade {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-height: 700px;
    left: 0;
    top: 0;
    z-index: 0;
  }


  min-height: 700px;
  @include horizontal-padding;
  display: table;
  height: 100vh;
  background-color: #6638b6;
  background-image: url(/assets/img/hero.jpg);
  background-size: 433%;
  background-position: 0% 21%;
  background-repeat: no-repeat;
  position: relative;

  #content {
    z-index: 10;
    margin-bottom: auto;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }

  h1 {
    font-family: 'proxima_novabold';
    color: $white;
    margin-bottom: 1em;
  }
}