nav {
  margin-top: 1.5em;
  z-index: 3;
  @include horizontal-padding;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;

  .logo {
    width: 150px;
  }

  #menu-btn {
    font-size: 1.3em;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: $white;
    font-family: 'proxima_novabold';
    display: flex;

    svg {
      max-height: 3em;
      min-width: 27px;
      padding-left: 10px;
    }
  }
}

#menu {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: $white;

  #menu-close-btn{
    display: flex;
    min-width: 15px;
    color: $white;
    position: absolute;
    right: 2em;
    top: 3em;
    font-family: proxima_novabold;
    font-size: 1.3em;
    cursor: pointer;
    svg{
      min-width: 15px;
      margin-left: 20px;
    }
  }

  #content {
    padding-top: 9em;
    padding-left: 2em;
    padding-right: 2em;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $purple;
  }

  a {
    text-decoration: none;
    color: $white;
  }

  #primary-links {
    a {
      display: block;
      font-family: proxima_novabold;
      font-size: 2.3em;
      margin-bottom: .5em;
    }
  }

  #sub-links {
    a {
      display: block;
      font-family: proxima_novalight;
      font-size: 1.8em;
      margin-bottom: 1em;
    }
  }


  #search {
    position: relative;
    svg{
      max-width: 30px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
    
    input {
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: $white;
      border: solid 4px $white;
      padding: 10px;
      width: 100%;
      font-family: proxima_novalight;
      appearance: none;

      &::-webkit-input-placeholder {
        color: $white;
      }
      
      &::-moz-placeholder {
          color: $white;
      }
      
      &::-ms-placeholder {
          color: $white;
      }
      
      &::placeholder {
          color: $white;
      }
      
    }
  }
}

.header {
  #fade {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 0;
  }

  display: flex;
  display: flex;
  @include horizontal-padding;
  height: 100vh;
  background-color: #6638b6;
  background-image: url(/assets/img/hero.jpg);
  background-size: 433%;
  background-position: 0% 21%;
  background-repeat: no-repeat;

  #content {
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;
  }

  h1 {
    font-family: 'proxima_novabold';
    color: $white;
    margin-bottom: 1em;
  }
}